numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
keras
torch
torchvision
torchaudio
mediapipe
opencv-python-headless==4.5.3.56
notebook
jupyter
ipykernel
ipywidgets
flask
flask-cors
fastapi
uvicorn
requests
Pillow
tqdm
